<h2> Olá {{ name }}, </h2>
<p>
  Parece que você solicitou uma recuperação da sua senha, caso queira presseguir clique no link abaixo:
</p>
<p>
<a href="{{resetPasswordUrl}}" target="_blank">Recuperar senha</a>
</p>
<p>
  Caso você não tenha solicitado favor desconsiderar essa mensagem.
</p>
<p>
  <strong>Heitor Neto</strong>
</p>
